@media screen and (max-width: 767px) {
  .people-page {
    height: 100%;
  }

  .people-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    margin-left: 0;
  }

  .header {
    display: none;
  }

  .people-content {
    scrollbar-width: none; /* Firefox */
  }

  .people-content::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  .header {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
