/* The only reason I have a huge css file here is to facilitate learning */
/* Once I'm confident enough in my css abilities, I plan to move everything to inline css */

html,
body,
#root, /* for create-react-app */
#__next /* for Next.js */ {
  height: min-content;
}

:root {
  color: #43392e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  padding: calc(100vh / 6) calc(100vw / 12);
  background-color: #fbf9f4;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image-frame {
  width: 300px;
}

.image-frame {
  flex-shrink: 0; /* revisit later */
}

img {
  border-radius: 0.25rem;
}

.center-text-box {
  min-width: 400px;
  max-width: 615px;
  width: 60%;
  margin-inline: auto; /* this centers the block because margin-inline: auto ends up dividing the horizontal space around the block evenly on both sides. */
  display: flex;
  flex-direction: column;
}

.center-text-box > * {
  margin-bottom: 1.25rem;
}

.menu-key {
  color: #8b8b8b;
}

hr {
  margin-top: 10px;
}

.search-button {
  text-align: start;
  padding: 5px 10px;
  margin-top: 1.25rem;
  border-radius: 10px;
  border: 1px solid #b5b4b4;
}

.search-button {
  color: #8b8b8b;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
}

.portfolio-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-heading {
  font-family: --font-newsreader;
  font-weight: 500;
}

.portfolio-sidebar-buttons {
  margin-top: 1rem;
}

.portfolio-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: flex-end;
}

.sidebar-button {
  text-align: end;
  font-family: --font-newsreader;
}

.current-page {
  color: #9a4c5c;
}

.software-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-inline: auto;
}

.software-image {
  width: 100%;
}

.software-image > img {
  width: 80%;
  aspect-ratio: 16/9; /* you probably don't need this if you just ensure that all uploaded images are in that aspect ratio */
  margin: auto;
}

.notebook-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Change this to grid */
.notebook-grid {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.link {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #9a4c5c;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  text-decoration-style: solid;
}

@media (max-width: 768px) {
  .main {
    padding: 8%;
  }

  /* .home-screen img { */
  /* display: none; this will hide *all* images because .home-screen is a part of the layout */
  /* } */

  .image-frame {
    display: none;
  }

  .center-text-box {
    min-width: 0;
    width: 100%;
  }
  .center-text-box > * {
    margin-bottom: 2rem;
  }
}

/* p {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
} */
