/* The only reason I have a huge css file here is to facilitate learning */
/* Once I'm confident enough in my css abilities, I plan to move everything to inline css */

html,
body,
#root, /* for create-react-app */
#__next /* for Next.js */ {
  height: min-content;
}

:root {
  color: #43392e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  padding: calc(100vh / 6) calc(100vw / 12);
  background-color: #fbf9f4;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image-frame {
  width: 300px;
}

.image-frame {
  flex-shrink: 0; /* revisit later */
}

img {
  border-radius: 0.25rem;
}

.center-text-box {
  min-width: 400px;
  max-width: 615px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.center-text-box > * {
  margin-bottom: 1.25rem;
}

.menu-key {
  color: #8b8b8b;
}

hr {
  margin-top: 10px;
}

.search-button {
  text-align: start;
  padding: 5px 10px;
  margin-top: 1.25rem;
  border-radius: 10px;
  border: 1px solid #b5b4b4;
}

.search-button {
  color: #8b8b8b;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  /* font-weight: 600; */
}

h2 {
  font-size: 3rem;
}

.portfolio-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-heading {
  font-family: --font-newsreader;
  font-weight: 500;
}

.portfolio-sidebar-buttons {
  margin-top: 1rem;
}

.sidebar-button {
  text-align: end;
  font-family: --font-newsreader;
}

.current-page {
  color: #9a4c5c;
}

.software-image {
  width: 100%;
}

.software-image > img {
  width: 100%;
  margin: auto;
  margin-top: 1.5rem;
}

.notebook-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Change this to grid */
.notebook-grid {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.link {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #9a4c5c;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  text-decoration-style: solid;
}

@media (max-width: 768px) {
  .main {
    padding: 8%;
  }

  /* .home-screen img { */
  /* display: none; this will hide *all* images because .home-screen is a part of the layout */
  /* } */

  .image-frame {
    display: none;
  }

  .center-text-box {
    min-width: 0;
    width: 100%;
  }
  .center-text-box > * {
    margin-bottom: 2rem;
  }
}

/* p {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
} */

.menu-button::before {
  background-color: #284b63;
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  --tw-translate-x: -16px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 0.75rem /* 12px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Fade effect */
}

.menu-button:hover:before {
  opacity: 1;
}

.work-section-heading::before {
  content: url("data:image/svg+xml,%3Csvg width='114' height='22' viewBox='0 0 114 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.7333 10.1934H114' stroke='%2343392E'/%3E%3Cpath d='M26.8162 1.83276L27.2702 1.62333C27.2102 1.49341 27.0975 1.39539 26.9606 1.35407C26.8236 1.31275 26.6755 1.33208 26.5537 1.40718L26.8162 1.83276ZM39.1392 10.1951L39.2158 10.6892C39.4595 10.6514 39.6392 10.4416 39.6392 10.1951C39.6392 9.94851 39.4595 9.73877 39.2158 9.70097L39.1392 10.1951ZM26.7748 19.1629L26.5109 19.5876C26.634 19.6641 26.7842 19.6834 26.9227 19.6405C27.0612 19.5977 27.1742 19.4968 27.2325 19.3641L26.7748 19.1629ZM15.978 10.291L15.6374 9.9249C15.4359 10.1125 15.4238 10.4277 15.6106 10.6301L15.978 10.291ZM26.3621 2.0422C29.1022 7.98205 35.7195 10.1705 39.0625 10.6892L39.2158 9.70097C35.9775 9.19858 29.7954 7.0975 27.2702 1.62333L26.3621 2.0422ZM39.0625 9.70097C37.3462 9.96725 34.8437 10.7488 32.4332 12.2213C30.02 13.6955 27.672 15.8793 26.3171 18.9617L27.2325 19.3641C28.4839 16.5173 30.6641 14.4738 32.9545 13.0747C35.2476 11.6739 37.6241 10.9361 39.2158 10.6892L39.0625 9.70097ZM27.0387 18.7382C23.0181 16.2399 19.5454 13.4192 16.3455 9.95187L15.6106 10.6301C18.8754 14.1677 22.4188 17.0449 26.5109 19.5876L27.0387 18.7382ZM16.3186 10.657C20.1427 7.09923 23.3546 4.55489 27.0786 2.25835L26.5537 1.40718C22.7595 3.74699 19.4955 6.3355 15.6374 9.9249L16.3186 10.657Z' fill='%2343392E'/%3E%3C/svg%3E%0A");
  padding-right: 16px;
}

.work-section-heading::after {
  content: url("data:image/svg+xml,%3Csvg width='116' height='22' viewBox='0 0 116 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M76.1803 10.2957H7.04937e-05' stroke='%2343392E'/%3E%3Cpath d='M88.242 1.83203L87.788 1.62259C87.8479 1.49268 87.9606 1.39466 88.0976 1.35334C88.2346 1.31202 88.3827 1.33135 88.5044 1.40645L88.242 1.83203ZM75.7695 10.2957L75.6928 10.7898C75.4492 10.752 75.2695 10.5423 75.2695 10.2957C75.2695 10.0492 75.4492 9.83945 75.6928 9.80165L75.7695 10.2957ZM88.2839 19.3724L88.5478 19.797C88.4247 19.8735 88.2744 19.8929 88.136 19.85C87.9975 19.8071 87.8845 19.7062 87.8261 19.5736L88.2839 19.3724ZM99.2115 10.3928L99.5521 10.0268C99.7537 10.2143 99.7657 10.5296 99.579 10.7319L99.2115 10.3928ZM88.696 2.04147C85.924 8.05053 79.2291 10.265 75.8461 10.7898L75.6928 9.80165C78.9711 9.29307 85.2308 7.16598 87.788 1.62259L88.696 2.04147ZM75.8461 9.80165C77.5826 10.071 80.1146 10.8618 82.5536 12.3517C84.9954 13.8433 87.3708 16.0528 88.7416 19.1711L87.8261 19.5736C86.5589 16.6908 84.3513 14.6217 82.0323 13.2051C79.7107 11.7869 77.3046 11.0399 75.6928 10.7898L75.8461 9.80165ZM88.02 18.9477C92.0898 16.4187 95.605 13.5635 98.8441 10.0537L99.579 10.7319C96.275 14.312 92.689 17.2237 88.5478 19.797L88.02 18.9477ZM98.871 10.7589C95.0003 7.15774 91.7492 4.58227 87.9795 2.25761L88.5044 1.40645C92.3442 3.77438 95.6475 6.39401 99.5521 10.0268L98.871 10.7589Z' fill='%2343392E'/%3E%3C/svg%3E%0A");
  padding-left: 16px;
}

@media (max-width: 768px) {
  .work-section-heading::before {
    display: none;
  }

  .work-section-heading::after {
    display: none;
  }
}

/* ---------- NAVIGATION ---------- */

@media (max-width: 767px) {
  .navigation-menu-container {
    position: relative;
    overflow: hidden;
  }

  .navigation-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .navigation-menu::-webkit-scrollbar {
    display: none;
  }

  .menu-items-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .fade-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    pointer-events: none;
    z-index: 1;
  }

  .left-fade {
    left: 0;
    background: linear-gradient(to right, #fbf9f4, transparent);
  }

  .right-fade {
    right: 0;
    background: linear-gradient(to left, #fbf9f4, transparent);
  }
}

@media (min-width: 768px) {
  .navigation-block {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .navigation-menu {
    padding: 1rem;
  }

  .fade-overlay {
    display: none;
  }
}
