/* The only reason I have a huge css file here is to facilitate learning */
/* Once I'm confident enough in my css abilities, I plan to move everything to inline css */

:root {
  color: #43392e;
}

.main {
  display: flex;
  flex-direction: row;
  padding: calc(100vh / 6) calc(100vw / 16);
  justify-content: space-between;
  background-color: #fbf9f4;
}

.home-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 15%;
}

.center-text-box > h3 {
  color: #003547;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
}

img {
  max-width: 300px;
  border-radius: 0.25rem;
}

.center-text-box {
  min-width: 400px;
  width: 400px;
  /* padding: 0 calc(100vw / 6) 0 0; */
  display: flex;
  flex-direction: column;
}

.center-text-box > * {
  margin-bottom: 1.25rem;
}

.navigation-block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.menu-key {
  color: #8b8b8b;
}

hr {
  margin-top: 10px;
}

.search-button {
  text-align: start;
  padding: 5px 10px;
  margin-top: 1.25rem;
  border-radius: 10px;
  border: 1px solid #b5b4b4;
}

.search-button {
  color: #8b8b8b;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
}

.portfolio-layout {
  display: flex;
  flex-direction: row;
}

.portfolio-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: flex-end;
}

.portfolio-sidebar-description {
  text-align: end;
  margin-top: 1rem;
  color: #93897e;
}

.portfolio-sidebar-buttons {
  margin-top: 1rem;
}

.portfolio-sidebar-buttons {
  text-align: end;
}

.current-page {
  color: #9a4c5c;
}

.software-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.photography-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.photo-gallery {
  display: flex;
  flex-direction: row;
}

.notebook-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.notebook-sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-end;
}

.notebook-sidebar-description {
  text-align: end;
}

/* Change this to grid */
.notebook-grid {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: calc(100% - 300px);
}

.tile-page {
  color: #93897e;
}

.tile-page:hover {
  color: #43392e;
}

.link {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #9a4c5c;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  text-decoration-style: solid;
}
