@media screen and (max-width: 767px) {
  .navbar-menu {
    display: none;
  }

  .navbar-external {
    display: none;
  }

  .navbar-box {
    height: max-content;
  }
}

@media screen and (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}
