@media screen and (max-width: 767px) {
  .screen {
    flex-direction: column;
  }

  .header {
    margin-bottom: 5vh;
  }

  .profile-picture-phone {
    height: 80vmin;
    max-height: 480px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .left-box {
    flex-direction: column;
    width: 100vw;
  }
  .menu-box {
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 15px;
    align-items: center;
  }

  .profile-picture {
    display: none;
  }
}
