@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-item {
    @apply text-eggshell font-forma relative flex items-center font-[550] text-10 hover:text-lightpink transition duration-500 ease-in-out leading-none;
  }
}

.menu-item:hover {
  transition: 0.3s ease-in-out;
  transform: translate(0.75rem, -0.25rem);
}

.name:hover {
  transition: 0.3s ease-in-out;
  transform: translate(0.75rem, -0.25rem);
}

.name {
  transition: 0.3s ease-in-out;
}
