@media screen and (max-width: 1284px) {
  .screen {
    flex-direction: column;
  }

  .profile-picture-phone {
    height: 20vmin;
    width: 20vmin;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }

  .left-box {
    flex-direction: column;
    width: 100vw;
  }
  .menu-box {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 15px;
  }

  .menu-item {
    font-size: 10vmin;
  }
  .bits {
    font-size: 10vmin;
  }
  .intrigue {
    font-size: 10vmin;
  }
  .inspiration {
    font-size: 10vmin;
  }
  .projects {
    font-size: 10vmin;
  }
  .name {
    font-size: 10vmin;
  }

  .right {
    width: 100vw;
  }
}
